[Unit]
Description=Traefik Monitoring and Restarting Tool

[Service]
ExecStart=/bin/bash -c '{{localbinpath}}/monitor-traefik.sh'
#ExecStop=/bin/bash -c '{{localbinpath}}/monitor-traefik-stop.sh'

[Install]
WantedBy=default.target
