#[Unit]
#Description=Update all Podman Containers for the Current User
#RefuseManualStart=no
#RefuseManualStop=no
#
#[Timer]
# Execute job if it missed a run due to machine being off
#Persistent=true
#
# Set the timer accuracy to 1 second instead of the default 1 minute
#AccuracySec=1
#
# Run Every Day at 23:00:00
#OnCalendar=*-*-* 23:00:00
#
# File describing job to execute
#Unit=.service
#
#[Install]
#WantedBy=timers.target
#
