[Unit]
Description=Custom Updater for Podman Containers Automatic Update
RefuseManualStart=no
RefuseManualStop=no

[Timer]
# Execute job if it missed a run due to machine being off
Persistent=true

# Set the timer accuracy to 1 second instead of the default 1 minute
AccuracySec=1

# Run Every Day at 23:00:00
OnCalendar=*-*-* 23:00:00

# Run when enabled
#OnActiveSec=5s

# File describing job to execute
Unit=podman-service-containers-auto-update.service

[Install]
WantedBy=timers.target
